
@{
    ViewBag.Title = "Account Registration";
}

@section scripts
{   
    <script src="~/Binding/Models/AccountRegisterModel.js"></script>
    <script src="~/Binding/ViewModels/AccountRegisterViewModel.js"></script>
}

@section footerScript
{
    angular.bootstrap(document.getElementById("registration"),['accountRegister']);
}
<div data-ng-app="accountRegister" data-ng-controller="AccountRegisterViewModel" id="registration">
    <br />
    @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")
    </br>

    <div ng-view> </div>
</div>

