
@{
    ViewBag.Title = "Register";
}

@section scripts
{   
    <script src="~/Binding/Models/AccountRegisterModel.js"></script>
    <script src="~/Binding/ViewModels/AccountRegisterViewModel.js"></script>
}
<h2>Register</h2>

