<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
        <endpoint address="net.tcp://localhost:8011/SecurityService"
                  binding="netTcpBinding"
                  contract="MyPlace.Business.Contracts.ISecurityService">
        </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>